.keyword {
    -fx-fill: blue;
    -fx-font-weight: bold;
}

.string {
    -fx-fill: green;
}

.number {
    -fx-fill: orangered;
}

.comment {
    -fx-fill: dimgray;
}

.tree-view {
     -fx-background-color: transparent;
     -fx-border-color: transparent;
     -fx-border-width: 0;

}

